<h1>Add cat to database</h1>

<%= render 'form', cat: @cat, action: :new %>

<!-- <form action="/cats" method="post">

    <label for="name">Name</label>
        <input id="name" type="text" name="cat[name]">
    <br>
    <label for="sex">Sex</label>
        <input type="radio" id="male" name="cat[sex]" value="M" checked> 
            <label for="male">Male</label>
        <input type="radio" id="female" name="cat[sex]" value="F">
            <label for="female">Female</label>
    <br>
    <label for="color">Color</label>
        <select id="color" name="cat[color]">
            <option disabled selected>-- Please Select Color --</option>
            <option value="black">Black</option>
            <option value="brown">Brown</option>
            <option value="white">White</option>
            <option value="orange">Orange</option>
            <option value="calico">Calico</option>
        </select>
    <br>
    <label for="birth_date">Birth Date</label>
        <input id="birth_date" type="date" name="cat[birth_date]">
    <br>
    <label for="description">Description</label>
        <textarea name="cat[description]"></textarea>
        <input type="submit" value="Add cat to database">
</form> -->