<h1><%= @cat.name %></h1>
<table>

    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>

    <% [:id, :birth_date, :age, :color, :sex, :description].each do |attr_name| %>
    <tr>
        <td><%= attr_name %></td>
        <td><%= @cat.send(attr_name) %></td>
    </tr>
    <% end %>

</table>